<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=auto, initial-scale=1.0">
    <title>DC Movies and Characters</title>
      <link rel="shortcut icon" href="https://imgs.search.brave.com/GVIDMxxnug9DFGAado7V08h618tzvHen7t8cL7a8q-M/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy82/MjAxMzUwMjRiYWJk/ZTAwMDRjYTQxODku/cG5n" type="image/x-icon">

    <style>
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2&family=Kanit:wght@300&family=Oswald&family=Poppins:wght@600&family=Prompt:wght@300&display=swap');        
        body{
          color:white
            
        }
        .container{
			background-color: black;
			margin: 0 auto;
			padding: 20px;
			width: 80%;
                     
            
        }
        .container2{
			
			padding: 20px;
			background-color: black;
            margin: 0 auto;
			
			width: 80%;
                     
            
        }
        .uppercontainer{
            
            display:flex;
            flex-direction: column;
            align-items: center;

        }

        .dclogo{
            width:200px;
            height:200px;
           
        }
        button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            background-color: #0b009e;
            color: #ffffff;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s ease;
            margin-left: 10px;
  }
        .mov{
            background-color:white;
            color:white;
            width: 100%;
            height: 50px;
            text-align: center;
            padding-top: 15px;
            font-family: 'Poppins', sans-serif;
            background-image: url("https://thumbs2.imgbox.com/c2/f2/fFIeMndZ_t.jpg");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            font-size: 30px;
    

        }
        .container2 h2{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            padding-top:0px;
        }
        .container3{
            padding-left: 250px;
            margin-top:-340px;
            font-family:  'Kanit', sans-serif;;   
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div class="uppercontainer">
            <!--LOGO-->
            <img class="dclogo" src="https://imgs.search.brave.com/GVIDMxxnug9DFGAado7V08h618tzvHen7t8cL7a8q-M/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy82/MjAxMzUwMjRiYWJk/ZTAwMDRjYTQxODku/cG5n">
            <!--CINEMATIC UNIVERSE-->
            <p style="font-family: 'Poppins', sans-serif;">CINEMATIC UNIVERSE</p>
            <br>
            <br>
            <br>
            
            
        </div>
    </div>
                                                    
    <div class="container2">
                                                    <!--MOVIES BLOCK-->
        <hr>
            <p class="mov">MOVIES</p>
            <hr>
            <br>
            <br>
            <br>
                                                    <!--MAN OF STEEL-->
        <img src="https://picfiles.alphacoders.com/350/thumb-350300.jpg" alt="Man of steel(2013)" style="height: auto; width: 200px;">
        <div class="container3">
        <h1 class="text" style="font-family: 'Oswald', sans-serif;">Man of steel(2013)</h1>
        <p >Man of steel is a superhero based film and was released in 2013. It follows the journey of Clark Kent with extraordinary powers, as he embraces his role as Superman. </p>
        
        <p >Director: Zack synder</p>
        <p >Cast : Henry Cavill. Amy Adams, Michael Shannon, Kevin Costner, Diane Lane, Laurence Fishburne</p>
        <p>Produced by: Charles Roven,
            Christopher Nolan,
            Emma Thomas,
            Deborah Snyder</p>
        <p>Music by: Hans Zimmer</p>
        <p>More details: <a href="https://en.wikipedia.org/wiki/Man_of_Steel_(film)" target="_blank"><button>Click here</button></a></p>
                                                    <!--BATMAN V SUPERMAN-->
    </div>
          <br>
          <br>
        <div class="container4"> <img src="https://imgs.search.brave.com/OU4ouwDA29GxIc0rFilOHBDWYQzpvUcAV0WlvynINsg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9teXBv/c3RlcmNvbGxlY3Rp/b24uY29tL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDE4LzA2L0Jh/dG1hbi1Wcy1TdXBl/cm1hbi1oZC1wcmlu/dGFibGUtUG9zdGVy/LU15UG9zdGVyQ29s/bGVjdGlvbi5jb20t/c3VwZXJtYW4tMi5q/cGc" alt="MBatman v Superman: Dawn of Justice(2016)" style="height: auto; width: 200px;">
            <div class="container3">
            <h1 class="text" style="font-family: 'Oswald', sans-serif; padding-top: 20px;">Batman v Superman: Dawn of Justice(2016)</h1>
            <p >The plot centers around the aftermath of the events in "Man of Steel" and how the world has responded to Superman's presence. Many people view Superman as a god-like figure and debate his place in society. </p>
            
            <p >Director: Zack synder</p>
            <p >Cast : Henry Cavill. Amy Adams, Ben Affleck, Gal Gadot,Jesse Eisenberg.</p>
            <p>Produced by: Charles Roven,Deborah Snyder,Geoff Johns,Wesley Coller.</p>
            <p>Music by: Hans Zimmer and Junkie XL (Tom Holkenborg)</p>
            <p>More details: <a href="https://en.wikipedia.org/wiki/Batman_v_Superman:_Dawn_of_Justice" target="_blank"><button>Click here</button></a></p>
        </div>
                                                    <!--WONDER WOMAN-->
            <br>
            <br>
          <div class="container4"> <img src="https://imgs.search.brave.com/FxUJA7FCrjZotQBS93nVWxQz8wyMdh0crQDyUYPoVY4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/dHJhaWxlcmFkZGlj/dC5jb20vY29udGVu/dC93YXJuZXItYnJv/cy1waWN0dXJlcy93/b25kZXItd29tYW4t/MjAxNy5qcGc" alt="Wonder Woman(2017)" style="height: auto; width: 200px;">
              <div class="container3">
              <h1 class="text" style="font-family: 'Oswald', sans-serif; padding-top: 10px;">Wonder Woman(2017)</h1>
              <p >Wonder Woman (2017) is a superhero film based on the DC Comics character Wonder Woman, directed by Patty Jenkins. The film is part of the DC Extended Universe (DCEU) and serves as both an origin story for the character and a standalone adventure. </p>
              
              <p >Director: Patty Jenkins</p>
              <p >Cast :  Gal Gadot, Chris Pine, Connie Nielsen, Robin Wright.</p>
              <p>Produced by: Charles Roven, Deborah Snyder, Zack Snyder, and Richard Suckle.</p>
              <p>Music by: Rupert Gregson-Williams</p>
              <p>More details: <a href="https://en.wikipedia.org/wiki/Wonder_Woman_(2017_film)" target="_blank"><button>Click here</button></a></p>
            </div>
              <br>
              <br>
                                                    <!--AQUAMAN-->
            <div class="container4"> <img src="https://imgs.search.brave.com/rCNmToX0yQN7t2x8mJRwULe8E9i-w-pjzFSu8IcIVoM/rs:fit:860:0:0/g:ce/aHR0cDovL3d3dy5p/bXBhd2FyZHMuY29t/LzIwMTgvcG9zdGVy/cy9hcXVhbWFuX3Zl/cjExLmpwZw" alt="Aquaman(2018)" style="height: auto; width: 200px;">
                <div class="container3">
                <h1 class="text" style="font-family: 'Oswald', sans-serif; padding-top: 10px;">Aquaman(2018)</h1>
                <p >Aquaman (2018) is a superhero film based on the DC Comics character Aquaman, directed by James Wan. The film is part of the DC Extended Universe (DCEU) and explores the underwater kingdom of Atlantis and the adventures of its half-human, half-Atlantean hero. </p>
                
                <p >Director: James Wan</p>
                <p >Cast :  Jason Momoa, Amber Heard, William Dafoe, Patric Wilson.</p>
                <p>Produced by: Peter Safran, Rob Cowan.</p>
                <p>Music by: Rupert Gregson-Williams</p>
                <p>More details: <a href="https://en.wikipedia.org/wiki/Aquaman_(film)" target="_blank"><button>Click here</button></a></p>
            </div>
                <br>
                                                    <!--JUSTICE LEAGUE:SNYDER CUT-->
                 <div class="container4"> <img src="https://imgs.search.brave.com/3b3QjefpQ0Rbu3ZCvfTQNkQVZ_rg0GxHA8ETlw5H7zE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/dml0YWx0aHJpbGxz/LmNvbS93cC1jb250/ZW50L3VwbG9hZHMv/MjAyMS8wMy9qdXN0/aWNlbGVhZ3VlcG9z/dGVyMS5qcGc" alt="Zack Snyder's Justice League(2021)" style="height: auto; width: 200px;">
                    <div class="container3">
                    <h1 class="text" style="font-family: 'Oswald', sans-serif; padding-top: 10px;">Zack Snyder's Justice League(2021)</h1>
                    <p >Zack Snyder's Justice League, often referred to as the "Snyder Cut," is a director's cut of the 2017 superhero film "Justice League." The original 2017 film was directed by Zack Snyder but was heavily altered during post-production due to various reasons. "Zack Snyder's Justice League" was released in 2021 on HBO Max and presents Zack Snyder's original vision for the movie. </p>
                    
                    <p >Director: Zack Snyder</p>
                    <p >Cast :  Jason Momoa, Amber Heard, William Dafoe, Henry Cavill, Ben Affleck, Gal Gadot.</p>
                    <p>Produced by:  Deborah Snyder, Charles Roven.</p>
                    <p>Music by: Junkie XL (Tom Holkenborg)</p>
                    <p>More details: <a href="https://en.wikipedia.org/wiki/Zack_Snyder's_Justice_League" target="_blank"><button>Click here</button></a></p>
                </div>
                <br>
                                                    <!--BLACK ADAM-->
                 <div class="container4"> <img src="https://imgs.search.brave.com/d867Lpif5nJJpkLFu-hMjFUDtjt73Bj-j2-pg92LLaM/rs:fit:860:0:0/g:ce/aHR0cDovL3d3dy5p/bXBhd2FyZHMuY29t/LzIwMjIvcG9zdGVy/cy9ibGFja19hZGFt/X3ZlcjQuanBn" alt="Black Adam(2022)" style="height: auto; width: 200px;">
                    <div class="container3">
                    <h1 class="text" style="font-family: 'Oswald', sans-serif; padding-top: 10px;">Black Adam(2022)</h1>
                    <p >Black Adam is one of the latest film in the DCEU, and boy, it packs a punch. Explosions, flying superheroes, magic, lightning and beautiful armour follows the Justice Society, and of course Black Adam. The film centers around a god-like ancient human being who was gifted his powers in a time of darkness and enslavement</p>
                    
                    <p >Director: Jaume Collet-Serra</p>
                    <p >Cast :  Dwayne Johnson, Dany Garcia, Hiram Garcia, Beau Flynn, and Scott Sheldon.</p>
                    <p>Produced by:  Deborah Snyder, Charles Roven.</p>
                    <p>Music by: Lorne Balfe</p>
                    <p>More details: <a href="https://en.wikipedia.org/wiki/Black_Adam_(film)" target="_blank"><button>Click here</button></a></p>
                </div>
                <br>
                                                    <!--THE FLASH-->
                 <div class="container4"> <img src="https://imgs.search.brave.com/59QK-D9fic0rVrvIBRXrANXVWs3bd5JzKzt-NGliR_k/rs:fit:860:0:0/g:ce/aHR0cDovL3d3dy5p/bXBhd2FyZHMuY29t/LzIwMjMvcG9zdGVy/cy9mbGFzaF92ZXIy/LmpwZw" alt="The Flash(2023)" style="height: auto; width: 200px; ">
                    <div class="container3">
                    <h1 class="text" style="font-family: 'Oswald', sans-serif; padding-top: 10px;">The Flash(2023)</h1>
                    <p >Worlds collide in "The Flash" when Barry uses his superpowers to travel back in time in order to change the events of the past. But when his attempt to save his family inadvertently alters the future, Barry becomes trapped in a reality in which General Zod has returned, threatening annihilation, and there are no Super Heroes to turn to.</p>
                    
                    <p >Director: Andy Muschietti</p>
                    <p >Cast :  Ezra Miller, Sasha Calle, Michael Shannon, Ron Livingston.</p>
                    <p>Produced by:  Barbara Muschietti, Michael Disco</p>
                    <p>Music by: Benjamin Wallfisch</p>
                    <p>More details: <a href="https://en.wikipedia.org/wiki/The_Flash_(film)" target="_blank"><button>Click here</button></a></p>
                </div>
                <br>
                <br>
                <br>
                <hr>
                <p class="mov">THE JUSTICE LEAGUE</p>
                <hr>
                <br>
                <br>
                                                    <!--JUSTICE LEAGUE MEMBERS PHOTOS-->
                <img src="https://imgs.search.brave.com/9BXtvcUvZM95iyzJxF8VwpyaKVdoB3syEaiVv1ij7YA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMtd2l4bXAtZWQz/MGE4NmI4YzRjYTg4/Nzc3MzU5NGMyLndp/eG1wLmNvbS9mLzZk/MjU3NDUzLWUzNWUt/NDg0Ni05Zjk4LWZm/YjVhNTRhZWIwOS9k/NjdwMWNqLTJmOTYx/MDk3LTFkMDYtNDMy/Mi1hMDFhLTdmYTNl/NGY4ZDBkMS5qcGc_/dG9rZW49ZXlKMGVY/QWlPaUpLVjFRaUxD/SmhiR2NpT2lKSVV6/STFOaUo5LmV5Snpk/V0lpT2lKMWNtNDZZ/WEJ3T2pkbE1HUXhP/RGc1T0RJeU5qUXpO/ek5oTldZd1pEUXhO/V1ZoTUdReU5tVXdJ/aXdpYVhOeklqb2lk/WEp1T21Gd2NEbzNa/VEJrTVRnNE9UZ3lN/alkwTXpjellUVm1N/R1EwTVRWbFlUQmtN/alpsTUNJc0ltOWlh/aUk2VzF0N0luQmhk/R2dpT2lKY0wyWmNM/elprTWpVM05EVXpM/V1V6TldVdE5EZzBO/aTA1WmprNExXWm1Z/alZoTlRSaFpXSXdP/Vnd2WkRZM2NERmph/aTB5WmprMk1UQTVO/eTB4WkRBMkxUUXpN/akl0WVRBeFlTMDNa/bUV6WlRSbU9HUXda/REV1YW5CbkluMWRY/U3dpWVhWa0lqcGJJ/blZ5YmpwelpYSjJh/V05sT21acGJHVXVa/RzkzYm14dllXUWlY/WDAuWGRqVUR3YVJZ/al9QZWNHVkRPOU02/amxGM2xZVjZvQ3BX/ZzFqb0dNSWJOdw" style="height: 220px; width: 150px; margin-left: 30px;">
                
                <img src="https://imgs.search.brave.com/MW8oTXc3pwEw7I3LFiujRqpbD6uNNEaJRsuVwvfWUes/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzNkLzM0/LzhkLzNkMzQ4ZGUx/MjY0MTM2ZWFiZjVm/YWIwMmQ1YmRkMjRl/LS1iYXRtYW4tYXJr/aGFtLWNpdHktZ290/aGFtLmpwZw" style="height: 220px; width: 150px">
                <img src="https://imgs.search.brave.com/pALhrWBdl8mBeyoyznUUNKzacR-n8gN9EsbweJWxfPY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2E3Lzk0/L2U0L2E3OTRlNDRi/ZGIzNDAwOTIzZjEy/MjE3YjNhZjBlZTMy/LS12YXJpZXR5LW1h/Z2F6aW5lLWppbS1s/ZWUuanBn" style="height: 220px; width: 150px">
                <img src="https://imgs.search.brave.com/SqVAY7GL_rqrL2mc3--Cj8gGmAgL9iNuPTv3WA6Qeo4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2U4LzJi/LzNjL2U4MmIzYzhj/ZTRmYjY0MTE1NDMz/YjA3M2RlMWY4ODEz/LmpwZw" style="height: 220px; width: 150px">
                <img src="https://imgs.search.brave.com/liN5G68fhmV9s3sh5ak_-v3dmHJuLrclLdthOn3nEtg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzNlLzc4/LzY0LzNlNzg2NGQ2/Mjg3NGJlNjkyOWZh/ZDIzNWM1YTM0N2Y3/LmpwZw" style="height: 220px; width: 150px">
                <img src="https://imgs.search.brave.com/pkQcCt6uK4kpW_7IXvY4k-OolEaXFZrWAa4Zd7bxdSQ/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzI3L2Rk/LzEyLzI3ZGQxMjM5/N2Y5NWQxMTIwMTBl/YWNmOGNkMWNiYWZk/LmpwZw" style="height: 220px; width: 150px">
                <p>&emsp;&emsp;&emsp;&ensp;SUPERMAN&emsp;&emsp;&emsp;&emsp;&emsp;BATMAN &emsp;&emsp;&emsp;WONDER WOMAN&emsp;&emsp;&emsp;THE FLASH&emsp;&emsp;&emsp;&ensp; CYBORG&emsp;&emsp;&emsp;&emsp; GREEN LANTERN</p>
            </div>
                   
</body>
</html>