.Signup{
    background: url("https://wallpapercave.com/wp/wp10889707.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.a{
    color: #bee4ed;
}
.ss:hover{
    color:black;
}