.Signup{
    background: url("https://c4.wallpaperflare.com/wallpaper/303/811/697/simple-gradient-minimalism-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.a{
    color: #bee4ed;
}
.ss:hover{
    color:black;
}