@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Kanit&family=Play:wght@400;700&family=Poppins:wght@400;500&family=Protest+Guerrilla&family=Protest+Strike&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sixtyfour&display=swap');
.Suc{
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  text-decoration: none;
  color:rgb(157, 133, 252);
}